// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//form
.form_wrapper{
  padding-top:10px;
}
.form_box{
}
.body{
  padding-top:30px;
}
.form_button{
  padding-top: 10px;
}
.btn{
  color: white;
  background-color:  lightpink;
  border-radius: 10px; 
}
.buttn{
  color:lightpink;
  
}
.bd{
  width:100%;
  height: 70px;
}
.comment_body{
  margin: 20px;
  font-size: 20px;
}
.comments_content {
  padding: 0px 15px;
  border-bottom: solid 1px lightgray;
}
